<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    And Your Search Result is Right Here !!!!
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        <div class="field has-addons">
                            {% comment %}<div class="control is-expanded">
                                <input class="input" type="text" placeholder="Anything more?">
                            </div>
                            <div class="control">
                                <button class="button is-info">
                                    Search
                                </button>
                            </div>{% endcomment %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
{#            <div class="columns">#}
{#                <div class="column is-offset-4 is-4">#}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/14173-200.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
{#                                        {% for i,subtitle in my_dict.items %}#}
{#                                        <span class="title">{{ subtitle }}"holy fuck"</span>#}
{#                                        <br>#}
{#                                        {% endfor %}#}
                                        {% for k, v in my_dict.items %}
                                            {% if k|divisibleby:2 %}
                                                <h1> {{v}}</h1>
{#                                            {% endif %}#}
                                             {% else %}
                                                <a href={{v}}>Click Here!!!</a>
                                            {% endif %}
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        </article>
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
</body>

</html>